<div class="flex justify-between w-[940px] m-auto">
  <div class="column">
    <div class="title">{{ "FOOTER.COMMUNITY" | translate }}</div>
    <a
      class="item"
      href="https://www.facebook.com/LootieCom/"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <span class="bg-[url('/assets/images/footer/facebook-dark.svg')]"></span> {{ "FOOTER.FACEBOOK" | translate }}
    </a>
    <a class="item" href="https://twitter.com/LootieCom" target="_blank" rel="nofollow noopener noreferrer">
      <span class="bg-[url(/assets/images/footer/twitter-dark.svg)]"></span> {{ "FOOTER.TWITTER" | translate }}
    </a>
    <a class="item" href="https://www.instagram.com/lootie" target="_blank" rel="nofollow noopener noreferrer">
      <span class="bg-[url(/assets/images/footer/Instagram_dark.svg)]"></span> {{ "FOOTER.INSTAGRAM" | translate }}
    </a>
  </div>

  <div class="column">
    <div class="title">{{ "FOOTER.INFORMATIONS" | translate }}</div>
    <a class="item" href="https://twitter.com/LootieCom" target="_blank" rel="nofollow noopener noreferrer">
      {{ "FOOTER.TWITTER" | translate }}
    </a>

    <a class="item" href="contact-us">
      {{ "FOOTER.CONTACT_US" | translate }}
    </a>

    <a class="item" href="shipping-refund">
      {{ "FOOTER.SHIPPING_REFUND" | translate }}
    </a>

    <a class="item" href="provably-fair/unboxings">
      {{ "FOOTER.PROVABLY_FAIR" | translate }}
    </a>
  </div>

  <div class="column">
    <div class="title">{{ "FOOTER.LEGAL" | translate }}</div>
    <a class="item" href="authentication">
      {{ "FOOTER.AUTHENTICATIO" | translate }}
    </a>
    <a class="item" href="tos">
      {{ "FOOTER.TERMS_SERVICE" | translate }}
    </a>
    <a class="item" href="privacy">
      {{ "FOOTER.PRIVACY" | translate }}
    </a>
  </div>

  <div class="column">
    <div class="title">{{ "FOOTER.PAYMENT_OPTION" | translate }}</div>
    <div class="payment-options">
      <a href="https://usa.visa.com/" target="_blank" rel="nofollow noopener noreferrer">
        <img src="/assets/images/footer/visa-dark.svg" alt="visa" width="53" height="17">
      </a>
      <a href="https://www.mastercard.us" target="_blank" rel="nofollow noopener noreferrer">
        <img src="/assets/images/footer/lmastercard-dark.svg" alt="mastercard" width="24" height="17">
      </a>
      <a href="https://www.paypal.com" target="_blank" rel="nofollow noopener noreferrer">
        <img src="/assets/images/footer/paypal-dark.svg" alt="paypal" width="15" height="17">
      </a>
      <a href="https://www.coinbase.com/" target="_blank" rel="nofollow noopener noreferrer">
        <img src="/assets/images/footer/coin-dark.svg" alt="coinbase" width="17" height="17">
      </a>
      <a href="https://bitcoin.org" target="_blank" rel="nofollow noopener noreferrer">
        <img src="/assets/images/footer/bitcoin-dark.svg" alt="bitcoin" width="17" height="17">
      </a>
      <a href="https://store.steampowered.com/" target="_blank" rel="nofollow noopener noreferrer">
        <img src="/assets/images/footer/steam-dark.svg" alt="steam" width="17" height="17">
      </a>
      <a href="https://payop.com/" target="_blank" rel="nofollow noopener noreferrer">
        <img src="/assets/images/footer/payop.svg" alt="payop" width="51" height="17">
      </a>

    </div>
  </div>
</div>

<p class="my-[10px] text-center text-[10px]">© {{ 2022 }} {{ "FOOTER.RIGHTS" | translate }}</p>
<p class="text-center text-[10px]">{{ "FOOTER.ABOUT_LOOTIE" | translate }}</p>
