@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local('Roboto'), url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@layer components {
  .text-orange-gradient{
    @apply bg-orange-text-gradient bg-clip-text [-webkit-text-fill-color:transparent]
  }

  .btn-primary {
    @apply rounded-[25px] h-[45px] min-w-[150px] text-white bg-orange-gradient
  }

  .btn-secondary {
    @apply relative rounded-[1px] h-[45px] min-w-[150px] bg-black-900
      before:content-[''] before:absolute before:inset-[-1px] before:rounded-[1px] before:bg-orange-gradient before:z-[-1]
  }
}

@layer base {
  html{
    @apply h-full bg-black-800
  }

  body{
    @apply text-white h-full w-full
  }
}
