<div class="relative overflow-hidden w-[1115px] h-[200px] bg-[url('/assets/images/footer_banner_1120.webp')] bg-contain">
  <h1 class="text-[30px] mt-[25px] leading-[35px] tracking-[0.9px] text-bold text-center font-black">
    {{ "LANDING_PAGE.PAGE_TITLE" | translate }}
  </h1>
<!--  <h1 class="mt-10 text-center">-->
<!--    {{ "CASES.PAGE_MOBILE_TITLE" | translate }}-->
<!--  </h1>-->
  <div class="w-[464px] mt-[10px] mx-auto text-[16px] text-center">
    {{ "LANDING_PAGE.PAGE_SUB_TITLE" | translate }}
  </div>
  <button class="block mt-[20px] w-[150px] mx-auto btn-primary bg-none bg-white text-black-800 font-bold shadow-[0_0_22px_0_hsl(0deg_0%_100%_/_45%)]">
    {{ "CASES.GET_STARTED" | translate }}
  </button>
</div>
